ion-header {
  background-color: #f7f6fe;
  box-shadow: none;
}
ion-toolbar {
  box-shadow: none;
  height: 65px;
  border-radius: 0 0 80% 80%;
}

ion-button {
  font-family: 'SFLight';
}
#btnDelivery {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
