.combinacion{
  background:url(../../assets/slideSalami.png);
  height: 190px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.combinacion2{
  background:url(../../assets/slideSalami.png);
  height: 190px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.combinacion3{
  background:url(../../assets/slideSalami.png);
  height: 190px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
