<ion-header>
  <ion-toolbar color="secundary">
    <ion-title class="ion-text-center">Pantalla de Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <ion-grid>
  <ion-row>
    <ion-col style="size: 6; offset: 2; text-align: center; padding: 3em;">
      <img  style="width: 250px; left: 250; text-align: center;" src="assets/icon/logo.png">
    </ion-col>
  </ion-row>
 </ion-grid>


      <p style="font-size: 30px; text-align: center; margin: 20px;"> !! Registrate !!</p>


 <ion-grid  style="padding: 5px; ">
  <ion-row  style="padding: 0px;">
    <ion-col style="size: 2; offset: 2; text-align: center; padding: 3px;">
      <p (click)="loginFace()">
        <img  style="width: 600px; text-align: center;" src="assets/icon/loFace.png">
      </p>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p (click)="login()">
        <img  style="width: 600px; text-align: center;" src="assets/icon/loGoogle.png">
      </p>

    </ion-col>
  </ion-row>
 </ion-grid>

</ion-content>
