<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="search" class="">
            <ion-icon name="search"></ion-icon>
            <ion-label>Buscar</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="principal" class="">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>

        </ion-tab-button>

        <ion-tab-button tab="pizza" class="">
            <ion-icon name="fast-food"></ion-icon>
            <ion-label>Productos</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
