ion-header{
  font-family: 'SFRegular';
}

.header-ios ion-toolbar:last-of-type {
  border-radius: 0 0 50% 50%;
}

ion-label {
  font-family: 'SFLight';
}

.tab-selected {
  background-color: #b72a4d;
    color: #fff;
}

ion-item {
  color: var(--ion-color-primary);
}

ion-footer >* {
  color: var(--ion-color-primary);
  ion-toolbar {
    width: 100%;
  }
}

ion-title {
  padding-left: 1em;
}

