@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h6 {
    padding-left: 10px;
    margin: 0;
    font-family: 'SFBold';
}

h6 {
  font-family: 'SFLight';
  padding-left: 10px;
  color: rgb(123, 123, 123);
}

.fondo {
    --background: #f7f6fe;
}

ion-header {
  background-color: #f7f6fe;
  box-shadow: none;
  border: none;
}
ion-toolbar {
  box-shadow: none;
  height: 65px;
  border-radius: 0 0 80% 80%;
}

ion-card{
  border-radius: 15px;
  box-shadow: rgba(147, 111, 113, 0.5) 0px 7px 10px 0px;
  background: rgb(255,231,237);
  background: linear-gradient(140deg, rgba(255,231,237,1) 0%, rgba(255,247,233,1) 100%);

  // background: #D68C98;
  color: #b72a4d;
}

.card-category {
  border: 2px solid #f3adbe;
}

ion-card-title {
  color: #b72a4d;
}

.swiper-slide-active {
    transform: scale(1.05, 1.05);
    ion-card {
        img {
            transform: scale(1, 1);
        }
    }
}

.swiper-slide {
    transition: 400ms all ease-in-out;
}

.card-product {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    border: 2px solid #f3adbe;
}

ion-slides.swiper-container {
    overflow: inherit;
}

ion-icon{
  font-size: 25px;
  padding-bottom: 8px;
}

ion-card > ion-label{
  font-size: 20px;
  margin-bottom: 16px;
}

ion-button {
  font-family: 'SFLight';
}

:host(.button-full:not(.button-round)) .button-native{
  border-radius: 15px;
}
