@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
* {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    padding-left: 10px;
}

.fondo{
  --background: #f7fbef;
}

.card{
width: 100%;
height: 160px;
box-shadow: none;
border-radius: 12px;
  img{
    object-fit: cover;
    width: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}
.swiper-slide-active{
  transform: scale(1.05, 1.05);

  ion-card{
    img{
      transform: scale(1,1);
    }
  }
}

.swiper-slide{
  transition: 400ms all ease-in-out;
}


