<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Hola, {{usuario}}</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="fondo" id="main">
    <ion-grid>
        <ion-row class="ion-no-padding" *ngIf="coupons">
            <ion-col size="12">
                <ion-slides [options]="slideOpts" class="ion-matgin-top">
                    <ion-slide *ngFor="let coupon of coupons">
                        <ion-card class="card ion-margin">
                            <ion-img [src]="coupon.url"></ion-img>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!coupons">
            <ion-spinner name="circular"></ion-spinner>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h2 class="ion-padding-bottom">Categorias</h2>
            </ion-col>
            <ion-row class="ion-justify-content-left">
              <ion-col size="5" class="ion-padding-bottom ion-padding-start">
                <ion-card class="ion-no-padding card-category">
                  <ion-icon class="ion-padding-start ion-padding-top ion-padding-top" name="pizza-outline"></ion-icon><br>
                  <ion-card-title (click)="pPizza('pizza')" class="ion-text-left ion-padding-bottom ion-padding-start" >Pizzas</ion-card-title>
                </ion-card>
            </ion-col>
            <ion-col size="5" class="ion-padding-bottom ion-padding-start">
                <ion-card class="ion-no-padding card-category">
                  <ion-icon class="ion-padding-start ion-padding-top" name="cafe-outline"></ion-icon><br>
                  <ion-card-title (click)="pPizza('bebidas')" class="ion-text-left ion-padding-bottom ion-padding-start">Bebidas</ion-card-title>
                </ion-card>
            </ion-col>
            <ion-col size="5" class="ion-padding-bottom ion-padding-start">
                <ion-card class="ion-no-padding card-category">
                  <ion-icon class="ion-padding-start ion-padding-top" name="ice-cream-outline"></ion-icon><br>
                  <ion-card-title (click)="pPizza('postres')" class="ion-text-left ion-padding-bottom ion-padding-start">Postres</ion-card-title>
                </ion-card>
            </ion-col>
            <ion-col size="5" class="ion-padding-bottom ion-padding-start">
                <ion-card class="ion-no-padding card-category">
                  <ion-icon class="ion-padding-start ion-padding-top" name="nutrition-outline"></ion-icon><br>
                  <ion-card-title (click)="pPizza('ensaladas')" class="ion-text-left ion-padding-bottom ion-padding-start">Ensaladas</ion-card-title>
                </ion-card>
            </ion-col>
            </ion-row>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h2>Lo más vendido</h2>
            </ion-col>
            <ion-col size="12">
                <ion-slides [options]="slideOpts">
                    <ion-slide>
                        <ion-card class="ion-margin card-product">
                            <img src="assets/pizza-hut.png" alt="">
                            <ion-card-header>
                                <ion-card-title class="ion-margin">
                                    Pizza Hawaiana
                                </ion-card-title>

                            </ion-card-header>
                            <ion-card-content class="ion-padding-bottom">
                                <ion-button color="primary">
                                    <ion-icon slot="start" name="cart-outline"></ion-icon>
                                    Carrito
                                </ion-button>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card class="ion-margin card-product">
                            <img src="assets/pizza-hut.png" alt="">
                            <ion-card-header>
                                <ion-card-title class="ion-margin">
                                    Pizza Hawaiana
                                </ion-card-title>
                            </ion-card-header>
                            <ion-card-content class="ion-padding-bottom">
                                <ion-button color="primary">

                                    <ion-icon slot="start" name="cart-outline"></ion-icon>
                                    Carrito
                                </ion-button>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card class="ion-margin card-product">
                            <img src="assets/pizza-hut.png" alt="">
                            <ion-card-header>
                                <ion-card-title class="ion-margin">
                                    Pizza Hawaiana

                                </ion-card-title>
                                <ion-card-content class="ion-padding-bottom">
                                    <ion-button color="primary">
                                        <ion-icon slot="start" name="cart-outline"></ion-icon>
                                        Carrito
                                    </ion-button>
                                </ion-card-content>
                            </ion-card-header>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content>
