<ion-header class="ion-no-border">
    <ion-toolbar color="primary" class="ion-no-padding">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: center;"> {{segment | titlecase}}</ion-title>
        <ion-buttons slot="end">
            <app-cart-counter></app-cart-counter>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="fondo">
    <ion-segment scrollable="true" [value]="segment" (ionChange)="segmentChanged($event)" mode="md">

        <ion-segment-button value="pizzas">
            <ion-icon name="pizza"></ion-icon>

        </ion-segment-button>
        <ion-segment-button value="bebidas">
            <ion-icon name="beer"></ion-icon>
        </ion-segment-button>

        <ion-segment-button value="postres">
            <ion-icon name="ice-cream"></ion-icon>
        </ion-segment-button>

        <ion-segment-button value="ensaladas">
            <ion-icon name="nutrition"></ion-icon>
        </ion-segment-button>
    </ion-segment>
    <app-listing [products]="products"></app-listing>
</ion-content>
