<ion-header>
  <ion-toolbar  color="primary">
    <ion-title style="text-align: center;"> Pizzas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">



<!-- Scrollable Segment -->
<ion-segment scrollable value="heart">

  <ion-segment-button value="heart">
    <ion-icon name="pizza-outline"></ion-icon>

  </ion-segment-button>
  <ion-segment-button value="pin">
    <ion-icon name="beer"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="sunny">
    <ion-icon name="ice-cream-outline"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="apple">
    <ion-icon name="nutrition-outline"></ion-icon>
  </ion-segment-button>


</ion-segment>

  <h1 class="list-header" style="text-align: center;">Productos</h1>

<ion-grid>
  <ion-row>
    <ion-col size="6" style="text-align: center;" *ngFor = "let datos of products">
      <div class="card" >
        <img src={{datos.image}} alt="">
        <div class="card-content">
            <h3 class="title"> {{datos.name}}</h3>
            <p class="desc">{{datos.description}}</p>
            <ion-buttons>
              <ion-button>
                <ion-icon slot="icon-only" name="add"> </ion-icon>
              </ion-button>
            </ion-buttons>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>

